$primaryColor1: #0cb3b4;
$primaryColor2: #83be30;


.logo {
  width: 100px;
  height: 50px;
  position: relative;
  margin-block: 40px;
}
.sides {
  position: absolute;
  top: 0px;
  left: 0;
  width: 80px;
  height: 70px;
}

.side1 {
  border: 15px solid #000000;
  border-bottom: none;
  border-top: none;
  border-radius: 11px;
  border-image: linear-gradient(90deg, #0cb3b4 0%, #83be30 55%);
  border-image-slice: 1;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.side2 {
  transform: translateY(-34.5px) translateX(14.6px) perspective(5000px)
    rotateX(52deg) rotate(45deg);
  width: 60px;
  height: 60px;
  border: 21px solid #000000;
  border-radius: 10px;
  border-bottom: none;
  border-right: none;
  border-image: linear-gradient(359deg, #0cb3b4 0%, #83be30 37%);
  border-image-slice: 1;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.side3 {
  transform: translateY(23px) translateX(14.6px) perspective(10000px)
    rotateX(48deg) rotate(45deg);
  width: 60px;
  height: 60px;
  border: 21px solid #000000;
  border-radius: 10px;
  border-left: none;
  border-top: none;
  border-image: linear-gradient(5deg, #0cb3b4 0%, #83be30 55%);
  border-image-slice: 1;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.side5 {
  transform: translateY(-16.9px) translateX(24.4px) perspective(5000px)
    rotateX(52deg) rotate(45deg);
  width: 57.1px;
  height: 57.1px;
  border: 4px solid #000000;
  border-radius: 8px;
  border-bottom: none;
  border-right: none;

  mask-composite: exclude;
  z-index: 5;
}
.side6 {
  transform: translateY(25px) translateX(24.4px) perspective(10000px)
    rotateX(48deg) rotate(45deg);
  width: 57.2px;
  height: 57.2px;
  border: 4px solid #000000;
  border-radius: 8px;
  border-left: none;
  border-top: none;

  z-index: 6;
}
.insideShape {
  overflow: hidden;
  height: 62px;
  width: 58.8px;
  position: absolute;
  top: -5px;
  right: 15.5px;
}
.insideShape::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  border: solid 17px;
  border-top: none;
  border-left: none;
  transform: translateY(0px) translateX(0px) perspective(10000px) rotateX(48deg)
    rotate(45deg);
  border-image: linear-gradient(5deg, #0cb3b4 0%, #83be30 26%);
  border-image-slice: 1;
}
// .side4 {
//     transform: rotate(200deg) translateY(-10px) translateX(8px);
//     border-left: none;
//     border-right: none;
//     border-bottom: none;
//     box-shadow: 0px -4px 3px -3px;
//     border-color: #29b4a4;
// }
// .side5 {
//     transform: rotate(90deg) translateX(5px) translateY(12px);
//     border-left: none;
//     border-right: none;
//     border-top: none;
//     box-shadow: 0px 4px 2px -3px;
//     border-color: #29b4a4;
// }
// .side6 {
//     transform: rotate(-20deg) translateX(8px) translateY(10px);
//     border-left: none;
//     border-right: none;
//     border-top: none;
//     box-shadow: 0px 4px 2px -3px;
//     /* border-color: #82bd42; */
//     border-image: linear-gradient(to left, #82bd42, #29b4a4);
//     border-image-slice: 1;
// }

.sides.side1:before {
  // content: "";
  // display: block;
  // background: transparent;
  // width: 42px;
  // height: 42px;
  // transform: translateY(-19px) translateX(1px) perspective(134px) rotateX(45deg) rotate(45deg);
  // border-left: 10px solid;
  // border-top: 10px solid;
  // border-radius: 13px;
}
.sides.sides.side1:after {
  // content: "";
  // display: block;
  // background: transparent;
  // width: 42px;
  // height: 42px;
  // transform: translateY(-34px) translateX(0px) perspective(134px) rotateX(59deg) rotate(225deg);
  // border-left: 8px solid;
  // border-top: 8px solid;
  // border-radius: 13px;
}
