.wellcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  height: 100%;

  h1 {
    padding: 0;
    margin: 0;
    font-family: "bEstedad";
    font-size: 75px;
    color: #1b1734;
  }

  .enterBTN {
    width: 60%;
    max-width: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #1b1734;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px #000;
    background-color: transparent;
    color: #1b1734;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding: 0px 4%;
    margin-top: 35px;
  }
}
.wellcomeContainer {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enterBTN:hover {
  background-color: #1b1734;
  transition: box-shadow 0.5s ease;
  transition: color 0.5s ease;
  box-shadow: 0px 0px 10px 0px #000;
  color: #ffffff;
  .arrowEnterBTN::before {
    transform: translateX(100%);
  }
}
.arrowEnterBTN::before {
  content: "<";
  display: block;
  padding-top: 5px;
  font-family: "Jua";
  font-size: 30px;
  transform: translateX(50%);
  transition: transform 0.5s ease;
  opacity: 0.5;
}
.wellcomeAddNumber {
  color: #1b1734;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 4px 0px #000;
  width: 80%;
  div {
    font-size: 20px;
    margin-block: 10px;
    width: 100%;
  }
  input {
    background-color: transparent;
    box-shadow: 0px 0px 4px -1px #000;
    border: none;
    border-radius: 10px;
    padding: 5px 0px;
    outline: none;
    width: 100%;
  }
}
.addButton {
  color: #1b1734;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 4px 0px #000;
  margin-block: 50px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  transition-property: background-color;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.addButton:hover {
  color: #ffffff;
  background-color: #1b1734;
}

@media only screen and(max-width: 600px) {
  .wellcomeContainer {
    flex-direction: row-reverse;
    align-items: center;
  }
  .wellcome h1 {
    font-size: 50px;
  }
}

@media only screen and(max-width: 450px) {
  .logo {
    margin: 0px;
  }
  .wellcomeContainer {
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .wellcome h1 {
    font-size: 30px;
  }
}
