.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addButton {
  width: 100%;
}
table {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid;
  border-collapse: collapse;
}
