@font-face {
    font-family: 'Jua';
    src: url('./assets/font/Jua/Jua-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:  'regEstedad';
    src: url(./assets/font/Estedad/ttf/Estedad-Regular.ttf);
    font-family: 'bEstedad';
    src: url(./assets/font/Estedad/ttf/Estedad-Bold.ttf);
}

.body {
    margin: 0;
    padding: 0;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}