@font-face {
    font-family: 'Jua';
    src: url('./assets/font/Jua/Jua-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

.body {
    margin: 0;
    padding: 0;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}