


.contactItem {
  box-shadow: 0px 3px 3px -4px;
  td {
    padding: 10px;
  }
}
.contactItem:last-child td {
  padding-bottom: 0px !important;
}

.contactItem:last-child {
  box-shadow: none;
}
.editBTN {
  margin-inline: 4px;
}
.itemBTNS {
  padding-inline: 0px !important;
  display: flex;
  flex-wrap: nowrap;

  button {
    width: 35px;
    box-shadow: 0px 1px 4px -2px;
  }
}
.addButton {
  color: #fff;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 4px 0px #000;
  margin-block: 50px 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

.noResult {
  text-align: center;
  td {
    padding-top: 15px;
  }
}